.p1{
    color: black;
    text-align: center;
    border: groove 5px brown;
    font-family: 'Oswald', sans-serif;
    
}

#header1{
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    color: red;
}

#list1{
    color: chocolate;
    display: inline-block; 
    text-align: left;
}

#table1{
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
tr:nth-child(Odd) {
    background-color: #a5b5fc;
  }
body{
    background-color: lightblue;
}

#table2{
    font-family: monospace;
    font-size: x-large;
    text-align: center;
}

tr, th, td{
    border: 1px solid black;
}
